.design {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 600px;
}

.search-bar  {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-list {
  top: 50%;
  left: 0;
  width: 30%;
  max-height: 200px;
  overflow-y: auto;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  list-style-type: none;
 margin-left: 600px;
}

.search-bar:focus {
  outline: none;
  border-color: #007bff;
}

.button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}


.App {
  background-color: #ffffff;
  padding: 20px;
}

.search-results {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.emoji {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.size {
  height: 100px;
  font-size: 24px;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
}


.suggestions-list li {
  padding: 4px 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f5f5f5;
}